SUBSYSTEM=="tty", ACTION=="add", ENV{ID_SERIAL_SHORT}=="A100473p", MODE="0666", SYMLINK+="acabA"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_SERIAL_SHORT}=="A100473s", MODE="0666", SYMLINK+="acabB"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_SERIAL_SHORT}=="A10046FA", MODE="0666", SYMLINK+="acabC"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_SERIAL_SHORT}=="A1004b6r", MODE="0666", SYMLINK+="acabD"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_SERIAL_SHORT}=="A100473q", MODE="0666", SYMLINK+="acabE"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_SERIAL_SHORT}=="A1004b6A", MODE="0666", SYMLINK+="acabF"

